.slider-container {
    width: 50%;
    margin: 50px auto;
    background-color: #f0f0f0; /* لون خلفية السلايدر */
    padding: 20px;
    border-radius: 10px;
  }
  
  .slider {
    width: 100%;
    background-image: url(images/blue.jpeg); /* رابط الصورة */
    background-size: cover;
    border: none;
  }
  
  #sliderValue {
    font-weight: bold;
  }
  