@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/mainStyle.css" />
    <title>Store</title>
</head>
<body>
    <!-- header start -->
    <header class="header">
        <div class="header__top-bar">
            <div class="header__logo">
                <a href="#" class="header__logo--link"> <img src="~/Images/Logo1.png" width="40%" alt=""> </a>
            </div>
            <form action="#" class="header__search">
                <input type="text"
                       class="header__search-input"
                       placeholder="Search different clothes" />
            </form>
            <div class="header__login">

                <a asp-controller="ShoppingCart" asp-action="cart" class="cart-icon">
                    <img alt="cart icon" src="~/Images/cart-outline.svg" />
                </a>
                
                <a asp-controller="Loging" asp-action="logIn" class="header__login-link">Login</a>
            </div>
        </div>
        <nav class="header__category">
            <a href="#" class="btn btn--link">Men</a>
            <a href="#" class="btn btn--link">Women</a>
            <a href="#" class="btn btn--link">Kid</a>
            <a href="#" class="btn btn--link">Sport</a>
            <a href="#" class="btn btn--link">Dress</a>
            <a href="#" class="btn btn--link">Pants</a>
            <a href="#" class="btn btn--link">Skirt</a>
            <a href="#" class="btn btn--link">Undreware</a>
            <a href="#" class="btn btn--link">Shirt</a>
            <a href="#" class="btn btn--link">Sweat</a>
            <a href="#" class="btn btn--link">Shoes</a>

        </nav>
    </header>
    <!-- header end -->
    <!-- Home page main content start -->
    <!-- Hero section start -->

    <main class="main home">
        <section class="hero">
            <div class="container">
                <div class="hero__image-side">
                    <div class="hero__image-container">
                        <img src="~/Images/brown.jpeg"
                             alt="hero image"
                             class="hero__image" />
                    </div>
                </div>
                <div class="hero__content-side">
                    <hgroup class="hero__title-group">
                        <p class="hero__sub-title">Clothes Store</p>
                        <h1 class="hero__title">Alacağınız En İyi Kıyafetler</h1>
                    </hgroup>
                    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies sem vitae mi convallis, non scelerisque nisi cursus. Suspendisse ac turpis id nulla placerat scelerisque.</p>
                    <a class="btn--primary">Keşfet</a>
                </div>
            </div>
        </section>

        <!-- Hero section end -->
        <!-- Product section start -->

        <section class="products-section">
            <header class="section-header">
                <h2 class="section-title">Our products</h2>
            </header>
            <div class="container">
                <div class="product-grid">

                    <article class="card">
                        <a asp-controller="Product" asp-action="Details">
                            <div class="card__image-container">
                                <img src="~/Images/gold.jpeg" alt="product image" class="card__image" />
                            </div>
                            <h3 class="card__title">Product title</h3>
                            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="card__bottom">
                                <p class="card__price">
                                    <span class="card__price--number">499</span>
                                    <span class="card__price--symbol">$</span>
                                </p>
                                <a href="#" class="card__btn">Add to cart</a>
                            </div>
                    </a>
                        </article>
                    
                   
                    
                    <article class="card">
                        <a asp-controller="Product" asp-action="Details">
                        <div class="card__image-container">
                            <img src="~/Images/red.jpeg" alt="product image" class="card__image" />
                        </div>
                        <h3 class="card__title">Product title</h3>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="card__bottom">
                            <p class="card__price">
                                <span class="card__price--number">499</span>
                                <span class="card__price--symbol">$</span>
                            </p>
                            <a href="#" class="card__btn">Add to cart</a>
                            </div>
                            </a>
                    </article>

                    <article class="card">
                        <a asp-controller="Product" asp-action="Details">
                        <div class="card__image-container">
                            <img src="~/Images/blue.jpeg" alt="product image" class="card__image" />
                        </div>
                        <h3 class="card__title">Product title</h3>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="card__bottom">
                            <p class="card__price">
                                <span class="card__price--number">499</span>
                                <span class="card__price--symbol">$</span>
                            </p>
                            <a href="#" class="card__btn">Add to cart</a>
                        </div></a>
                    </article>

                    <article class="card">
                        <div class="card__image-container">
                            <img src="~/Images/gold.jpeg" alt="product image" class="card__image" />
                        </div>
                        <h3 class="card__title">Product title</h3>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="card__bottom">
                            <p class="card__price">
                                <span class="card__price--number">499</span>
                                <span class="card__price--symbol">$</span>
                            </p>
                            <a href="#" class="card__btn">Add to cart</a>
                        </div>
                    </article>

                    <article class="card">
                        <div class="card__image-container">
                            <img src="~/Images/red.jpeg" alt="product image" class="card__image" />
                        </div>
                        <h3 class="card__title">Product title</h3>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="card__bottom">
                            <p class="card__price">
                                <span class="card__price--number">499</span>
                                <span class="card__price--symbol">$</span>
                            </p>
                            <a href="#" class="card__btn">Add to cart</a>
                        </div>
                    </article>

                    <article class="card">
                        <div class="card__image-container">
                            <img src="~/Images/brown.jpeg" alt="product image" class="card__image" />
                        </div>
                        <h3 class="card__title">Product title</h3>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="card__bottom">
                            <p class="card__price">
                                <span class="card__price--number">499</span>
                                <span class="card__price--symbol">$</span>
                            </p>
                            <a href="#" class="card__btn">Add to cart</a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Product section end -->
        <!-- CTO section start -->

        <section class="cto-section">
            <div class="container">
                <article class="cto">
                    <div class="cto__image-side">
                        <img src="https://fakeimg.pl/500x500/0d2346/adb5bd" alt="product image" class="cto__image" />
                    </div>
                    <div class="cto__content-side">
                        <h2 class="cto__title">cto title</h2>
                        <p class="cto__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies sem vitae mi convallis, non scelerisque nisi cursus. Suspendisse ac turpis id nulla placerat scelerisque.
                        </p>
                        <a class="btn--primary">Cto Button</a>
                    </div>
                </article>
            </div>
        </section>

        <!-- CTO section end -->

    </main>

    <!-- Home page main content end -->
</body>
</html>



