body {
    background-color: #102C57;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.register-container {
    background-color: #DAC0A3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

    .register-container h2 {
        margin-bottom: 20px;
        color: #102C57;
    }

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

    .input-group label {
        display: block;
        margin-bottom: 5px;
        color: #102C57;
    }

    .input-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #102C57;
        border-radius: 4px;
        box-sizing: border-box;
    }

button {
    background-color: #102C57;
    color: #DAC0A3;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

    button:hover {
        background-color: #081A3A;
    }
