
 <!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap"
          rel="stylesheet" />
          <style>

       /*  body {
            background-color: #DAC0A3  #102C57 ;
            
        } */
    </style>
    <link rel="stylesheet" type="text/css" href="~/css/mainStyle.css">
    <title>Login</title>
    

</head>
<body>
    <header class="header">
        <div class="header__top-bar">
            <div class="header__logo">
                <a asp-area="Customerr" asp-controller="Home" asp-action="Index" class="header__logo--link"> <img src="~/Images/Logo1.png" width="40%" alt=""> </a>
            </div>
            <form action="#" class="header__search">
                <input type="text"
                       class="header__search-input"
                       placeholder="Search different clothes" />
            </form>
            <div class="header__login">
                <a asp-controller="Loging" asp-action="logIn" class="header__login-link">Login</a>
            </div>
        </div>
        <nav class="header__category">
            <a href="#" class="btn btn--link">Men</a>
            <a href="#" class="btn btn--link">Women</a>
            <a href="#" class="btn btn--link">Kid</a>
            <a href="#" class="btn btn--link">Sport</a>
            <a href="#" class="btn btn--link">Dress</a>
            <a href="#" class="btn btn--link">Pants</a>
            <a href="#" class="btn btn--link">Skirt</a>
            <a href="#" class="btn btn--link">Undreware</a>
            <a href="#" class="btn btn--link">Shirt</a>
            <a href="#" class="btn btn--link">Sweat</a>
            <a href="#" class="btn btn--link">Shoes</a>

        </nav>
    </header>
      <main class="main login-page">
        <section class="login">
            <header class="section-header">
                <div class="logo-link">
                    <a class="logo-link--btn" href="#"> Clover Store </a>
                </div>
                <div class="login__header">
                    <h1 class="login__title">Login</h1>
                      <a asp-controller="Loging" asp-action="signUp" class="Giriş">Register</a>

                </div>
            </header>
            <form action="/" class="form">
                <p class="form__field">
                    <label for="email">Email</label>
                    <input id="email" type="email" />
                </p>
                <p class="form__field">
                    <label for="password">Password</label>
                    <input id="password" type="password" />
                </p>
                <button class="btn--primary">login</button>
            </form>
        </section>
    </main>


</body>
</html>
