@model Customer
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <style>

       /*  body {
            background-color: #DAC0A3 #102C57;
        } */
    </style>
    <link rel="stylesheet" type="text/css" href="~/css/mainStyle.css">
</head>
<body>
    <!-- header start -->
    <header class="header">
        <div class="header__top-bar">
            <div class="header__logo">
                <a href="#" class="header__logo--link"> <img src="~/Images/Icones/Logo.png" width="40%" alt=""> </a>
            </div>
            <form action="#" class="header__search">
                <input type="text"
                       class="header__search-input"
                       placeholder="Search different clothes" />
            </form>


            <div class="header__login">
                <div style="margin-right:10px;margin-left:10px">

                    <a asp-controller="ShoppingCart" asp-action="cart" class="sepp">

                        <span class="material-symbols-outlined">
                            shopping_cart
                            <h3 class="sepp" style="font-size:15px">
                                My Cart
                                (0)
                            </h3>
                        </span>




                    </a>

                </div>
                <div style="margin-right:10px">

                    <a asp-action="Favorrites" class="sepp">
                        <span class="material-symbols-outlined">
                            favorite
                            <h3 class="sepp" style="font-size:15px">My Fav0rites</h3>
                        </span>

                    </a>

                </div>

                @*  <a asp-controller="ShoppingCart" asp-action="cart" class="cart-icon">
                <img  src="~/Images/cart-outline.svg" />

                </a> *@




                <partial name="_LoginPartial" />
                @*  <a asp-controller="Loging" asp-action="logIn" class="header__login-link">Login</a> *@
            </div>
        </div>
        <nav class="header__category">
            <a asp-controller="Categorys" asp-action="Index" asp-route-type="Male" class="btn btn--link">Men</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-type="Female" class="btn btn--link">Women</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-type="Kids" class="btn btn--link">Kid</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="1" class="btn btn--link">Pants</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="4" class="btn btn--link">Skirt</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="5" class="btn btn--link">Shirt</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="6" class="btn btn--link">Sweat</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="3" class="btn btn--link">Dress</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="8" class="btn btn--link">Coat</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="2" class="btn btn--link">Sport</a>

        </nav>
    </header>

    
    <div class="register-container">
        <h1 class="reg__title">Create a new account</h1>
        <form method="post">
             @* <div asp-validation-summary="All"></div>  *@
            <div class="input-group">
                <label for="fullname">Full Name</label>
                <input asp-for="Full_name" type="text" id="Full_name" name="Full_name" required>
                <span asp-validation-for="Full_name" class="danger"></span>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input asp-for="Email" type="email" id="Email" name="Email" required>
                <span asp-validation-for="Email" class="danger"></span>
            </div>
            <div class="input-group">
                <label for="username">Phon Number</label>
                <input asp-for="Phon_number" type="text" id="Phon_number" name="Phon_number" required>
                <span asp-validation-for="Phon_number" class="danger"></span>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input asp-for="Password" type="password" id="Password" name="Password" required>
                <span asp-validation-for="Password" class="danger"></span>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
    @section Scripts{
    @{

        <partial name="_ValidationScriptsPartial"/>
    }

}
</body>
</html>
