@model Customer
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" type="text/css" href="~/css/mainStyle.css">
</head>
<body>

    
    <div class="register-container">
        <h1 class="reg__title">Create a new account</h1>
        <form method="post">
            @* <div asp-validation-summary="All"></div> *@
            <div class="input-group">
                <label for="fullname">Full Name</label>
                <input asp-for="Full_name" type="text" id="Full_name" name="Full_name" required>
                <span asp-validation-for="Full_name" class="danger"></span>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input asp-for="Email" type="email" id="Email" name="Email" required>
                <span asp-validation-for="Email" class="danger"></span>
            </div>
            <div class="input-group">
                <label for="username">Phon Number</label>
                <input asp-for="Phon_number" type="text" id="Phon_number" name="Phon_number" required>
                <span asp-validation-for="Phon_number" class="danger"></span>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input asp-for="Password" type="password" id="Password" name="Password" required>
                <span asp-validation-for="Password" class="danger"></span>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
    @section Scripts{
    @{

        <partial name="_ValidationScriptsPartial"/>
    }

}
</body>
</html>
